html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#header_menu{
	width: 100%;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	position: fixed;
	z-index: 10;
}
#icon{
	height: 60px;
	margin: 7px 10px 8px 100px;
	float: left;
}
#icontext{
	font-size: 30px;
	margin: 22px 25px 18px 0;
	color: #8e8e8e;
	text-align: left:
}
#header_menu_options{
	float: right;
	width: 50%;
}
.menu_option{
	float: left;
	width: 25%;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 0;
	text-align: center;
	display: inline-block;
	position: relative;
	color: white;
}
.menu_option:hover{
	cursor: pointer;
	color: #ffd800;
}
#Contact{
	background-color: #2292bf;
	color: white;
	width: 20%;
	margin: 15px 2.5%;
	border-radius: 4px;
	box-shadow: 0 5px 0 #135c7a;
}
#Contact:active{
	margin-top: 20px;
	box-shadow: none;
}
#SolutionMenu{
	right: 20%;
}
#ResourceMenu{
	right: 10%;
}
#header{
	width: 100%;
	height: 650px;
	background-image: url("../background1.png"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 600px;
	position: relative;
	background-color: #e8e8e8;
}
#header_form{
	width: 500px;
	height: 500px;
	background: white;
	border-radius: 3px;
	position: absolute;
	margin: auto;
	top: 75px; left: 100px; bottom: 0px;
	color: #5b5b5b;
	box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.5);
}
#header_form h1{
	margin: 50px 50px 0 50px;
	font-size: 35px;
}
#small_head_text{
	margin: 25px 50px 25px 50px;
	font-size: 15px;
}
#header_form input{
	border-radius: 3px;
	border: 1px solid #c3c3c3;
	text-align: center;
	font-size: 16px;
}
#email_first{
	height: 30px;
	width: 195px;
	margin-left: 50px;
}
#email_last{
	height: 30px;
	width: 195px;
	margin-left: 5px;
}
#email_phone{
	width: 400px;
	height: 30px;
	margin: 15px 0 0 50px;
}
#email_body{
	width: 400px;
	height: 135px;
	margin: 15px 50px 0 50px;
}
#email_header{
	height: 30px;
	margin: 15px 0 35px 50px;
	width: 250px;
	float: left;
}
#submit_header{
	width: 140px;
	margin-left: 10px;
	margin-top: 15px;
	border-radius: 3px;
	background: #2292bf;
	color: white;
	float: left;
	text-align: center;
	padding: 6px 0;
	font-size: 18px;
}
#submit_header:hover , #email_header:hover {
	cursor: pointer;
	background: white;
	color: #2292bf;
	border: 1px solid #2292bf;
}

#HeaderPricing{
	width: 100%;
	height: 30px; 
	text-align: center;
	color: #878787;
	font-size: 20px;
	padding: 10px 0;
	margin-bottom: 0;
}

#Order{
	height: 400px;
	width: 100%;
}
.Order{
	height: 400px;
	width: 33.33%;
	float: left;
	color: white;
	background: grey;
	position: relative;
}
.OrderSlideUp{
	height: 400px;
	position: relative;
	top: 270px;
}
.Order360{
	font-size: 35px;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 15px 0 0 0;
}
.OrderTitle{
	font-size: 25px;
	text-align: center;
	width: 100%;
	height: 40px;
	position: absolute;
	margin: auto;
	padding: 15px 0 0 0;
	top: 55px; left: 0;  right: 0; 
}
.OrderPara{
	width: 75%;
	text-align: center;
	position: absolute;
	margin: auto;
	padding: auto;
	left: 0; bottom: 200px; right: 0;
}
.OrderButton{
	height: 40px;
	width: 75%;
	font-size: 20px;
	padding: 20px 0 0 0;
	border-radius: 5px;
	text-align: center;
	border: 2px solid white;
	position: absolute;
	margin: auto;
	left: 0; bottom: 80px; right: 0;
}
.OrderButton:hover{
	cursor: pointer;
	background-color: white;
	color: grey;
}
#Colab .OrderSlideUp{
	background-color: rgb(66, 188, 244, 0.93);
}
#Create .OrderSlideUp{
	background-color: rgb(237, 173, 11, 0.93);
}
#Publish .OrderSlideUp{
	background-color: rgb(4, 155, 12, 0.93);
}
#Colab{
	background-image: url("https://d3tvpxjako9ywy.cloudfront.net/blog/content/uploads/2016/02/team-collaborate-effectively-e1455726174634-1-624x351.jpg?av=cedb97fc061c0df9d39783b959688ce1"); 
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 575px;
	overflow-y: hidden;
}
#Create{
	background-image: url("https://www.upsidelearning.com/blog/wp-content/uploads/2016/01/five-tips-for-creating-graphics-for-mobile-devices.png"); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 575px;
	overflow-y: hidden;
}
#Publish{
	background-image: url("https://www.self-publish.in/images/Scholargram.png"); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 575px;
	overflow-y: hidden;
}